body {
    margin: 0;
    background-color: #a6a6a6;
    font-family: Helvetica, Arial, sans-serif;
}

main {
    height: 95vh;
    background-color: #ccc;
    overflow: hidden;
}

.hidden-heading {
    margin-top: 0;
    margin-bottom: 10vh;
    visibility: hidden;
    margin: 0;
    font-size: 1px;
}

.section-header {
    margin-top: 0;
}

p {
    margin-top: 0;
    font-family: Arial, Helvetica, serif;
}

.content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #fff;
    overflow: hidden;
}

.header-image-container {
    margin-top: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 3vh;
}

.header-image {
    max-width: 1000px;
    min-width: 200px;
    width: 35vw;
    height: auto;
}

.header-images-companies img {
    max-width: 195px;
    height: auto;
    margin-left: 1vw;
}

nav {
    overflow: hidden;
    float: right;
}

nav ul {
    list-style-type: none;
    float: left;
    padding: 0;
    margin: 0;
}

nav ul li {
    color: white;
    float: left;
    margin-right: 1vw;
}

.main-navigation-link {
    display: block;
    color: white;
    text-decoration: none;
    font-size: calc(0.5em + 0.5vw);
    padding: 0.5vw 1vw;
    background-color: red;
    font-weight: bold;
}

.main-navigation-link:hover {
    color: grey;
    background-color: white;
}

.main-navigation-link-active {
    display: block;
    color: white;
    text-decoration: none;
    font-size: calc(0.5em + 0.5vw);
    padding: 0.5vw 1vw;
    background-color: #ccc;
    font-weight: bold;
}

.riba {
    width: 70%;
    max-width: 980px;
    min-width: 200px;
    height: auto;
}

.thirty-years-notice {
    color: red;
    font-size: calc(3px + 3vw);
    position: absolute;
    margin-left: 3vw;
    margin-top: 1vh;
    font-weight: bold;
}

.about-text {
    margin: 8vh 6vw;
    font-size: 1.2em;
    line-height: 170%;
}

.taskalafa {
    width: 70%;
    max-width:980px;
    min-width:200px;
    height: auto;
}