body {
    margin: 0;
    background-color: #a6a6a6;
    font-family: Helvetica, Arial, sans-serif;
}

main {
    min-height: 95vh;
    background-color: #ccc;
    overflow: hidden;
}

.hidden-heading {
    margin-top: 0;
    margin-bottom: 10vh;
    visibility: hidden;
    margin: 0;
    font-size: 1px;
}

.section-header {
    margin-top: 0;
}

p {
    margin-top: 0;
    font-family: Arial, Helvetica, serif;
}

.content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #fff;
    overflow: hidden;
}

.header-image-container {
    margin-top: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 3vh;
}

.header-image {
    max-width: 1000px;
    min-width: 200px;
    width: 35vw;
    height: auto;
}

.header-images-companies img {
    max-width: 195px;
    height: auto;
    margin-left: 1vw;
}

nav {
    overflow: hidden;
    float: right;
}

nav ul {
    list-style-type: none;
    float: left;
    padding: 0;
    margin: 0;
}

nav ul li {
    color: white;
    float: left;
    margin-right: 1vw;
}

.main-navigation-link {
    display: block;
    color: white;
    text-decoration: none;
    font-size: calc(0.5em + 0.5vw);
    padding: 0.5vw 1vw;
    background-color: red;
    font-weight: bold;
}

.main-navigation-link:hover {
    color: grey;
    background-color: white;
}

.main-navigation-link-active {
    display: block;
    color: white;
    text-decoration: none;
    font-size: calc(0.5em + 0.5vw);
    padding: 0.5vw 1vw;
    background-color: #ccc;
    font-weight: bold;
}

.above-the-fold {
    display: flex;
    flex-wrap: wrap;
}

.welcome-section {
    width: 50%;
}

.riba {
    width: 100%;
    max-width: 980px;
    min-width: 200px;
    height: auto;
}

.thirty-years-notice {
    color: red;
    font-size: calc(3px + 2vw);
    position: absolute;
    font-family: Calibri;
    margin-top: 1vh;
    font-weight: bold;
    text-align: center;
    width: 38%;
    font-style: italic;
}

.about-text {
    margin: 8vh 6vw;
    font-size: 1.2em;
    line-height: 170%;
}

.akcija {
    width: 45%;
    margin-left: 1vw;
    text-align: center;
    background-color: white;
    margin-top: calc(3px + 2vh);
    margin-bottom: 5px;
    border-radius: 6px;
}

.akcija-naslov {
    color: red;
}

.akcija-slideshow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.akcija-slideshow-arrow {
    cursor: pointer;
    color: #ccc;
    font-size: calc(16px + 1vh + 1vw);
}

.akcija-proizvod {
    display: none;
    width: 44%;
    height: auto;
}

.akcija-proizvod a {
    color: black;
    text-decoration: none;
}

.akcija-thumbnail {
    width: 100%;
    height: auto;
}

.about-section {
    color: #22617a;
    padding-left: calc(5px + 5vw);
    padding-right: calc(5px + 5vw);
    padding-top: 4vh;
    font-size: calc(8px + 0.5vh + 0.5vw);
    font-weight: bold;
}

.galerija {
    margin-top: 8vh;
    margin-bottom: 8vh;
}

.galerija-slideshow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.galerija-slideshow-arrow {
    cursor: pointer;
    color: #fff;
    font-size: calc(16px + 1vh + 1vw);
}

.galerija-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.galerija-item {
    width: 25%;
}

.galerija-thumbnail {
    width: 100%;
}

.ponuda-kategorije-sekcija {
    padding-top: 4vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

.ponuda-kategorije-sekcija h2 {
    color: red;
}

.ponuda-categories-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ponuda-categories-link-wrapper {
    width: 33%;
    min-width: 200px;
    margin-top: 2vh;
    margin-bottom: 1vh;
    text-align: center;
}

.ponuda-categories-link-wrapper > a {
    color: #22617a;
    text-decoration: none;
    font-weight: bold;
}

.ponuda {
    margin: 0 25px 40px 25px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.filteri {
    margin: 10px 25px;
}

.filteri .search-icon {
    color: #eee;
    font-size: 18px;
}

#search-input {
    font-size: 18px;
}

.ponuda-lista {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ponuda-lista > li {
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid #ddd 1px;
}

.ponuda-row {
    display: flex;
    align-items: center;
}

.ponuda-row > * {
    margin: 0 10px;
}

.ponuda-row a {
    color: #454545;
    text-decoration: none;
}

.ponuda-row a:hover {
    color: grey;
}

.ponuda-thumbnail {
    width: 60px;
    height: auto;
}

.proizvod-heading {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.proizvod {
    padding-bottom: 40px;
    max-width: 100%;
    overflow-y: auto;
}

.proizvod-tabela {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: #333;
}

.proizvod-slika-container {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.proizvod-slika {
    max-width: 325px;
}

.proizvod-tabela td {
    padding: 5px 10px;
}

.proizvod-sekcija-polje {
    font-weight: bold;
}

.proizvod-sekcija-redrazdvajac {
    background-color: #ddd;
    font-size: 3px;
}

.proizvod-sekcija-redrazdvajac td {
    padding: 0;
}

.contact__info-conainer {
    margin: calc(5px + 1vh + 1vw);
    font-size: calc(1em + 0.3vw);
}

.contact__container {
    display: flex;
    flex-wrap: wrap;
}

.contact_heading {
    margin-bottom: 2vh;
}

.contact__address {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.contact__phones {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.contact__phones > section > div {
    padding-left: 1vw;
    margin-bottom: 6px;
}

.contact__phones h3 {
    margin-bottom: 1vh;
    font-size: 0.9em;
}

.contact__email {
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.contact__tekuci-racuni {
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.contact__tekuci-racuni h3 {
    margin-bottom: 1vh;
    font-size: 0.9em;
}

.contact__tekuci-racuni > div {
    margin-bottom: 1vh;
}

#map {
    height: 500px;
    width: 500px;
    margin: calc(5px + 1vh + 1vw);
}

@media screen and (max-width: 800px) {
    .content {
        width: 100%;
    }

    .welcome-section {
        width: 100%;
    }

    .thirty-years-notice {
        width: 80%;
    }

    .akcija {
        width: 100%;
        margin-left: 0;
        border-radius: 0;
    }

    .proizvod-slika-container {
        width: 100%;
    }

    .proizvod-slika {
        width: 100%;
    }

    #map {
        height: 200px;
        width: 200px;
    }
}